<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title"><strong>Know About Me</strong></div>
                            <p align="justify">From a young age, I had a sense of motivation and passion focusing for the development of life. </p>
                            <p align ="justify">I like exploring new things, meeting new people,etc these bring a new experience to  my life on a personal and professional level.</p>
                            <p align="justify">Love towards the passion to work.</p>
                            <p align="justify">Face problems with a smile and solve them as soon as possible. "></p>
                            <p align="justify">To Know more about me, keep exploring my site.</p>
                            
                    </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title"><strong>Basic Information</strong></div><br>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">25-January, 1999</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">mail@gmail.com</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Mobile No:</strong>
                            </div>
                            <div class="col-sm-8">9876543210</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Address:</strong>
                            </div>
                            <div class="col-sm-8">Heaven</div>
                        </div>
                        
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
